@CHARSET "ISO-8859-1";


.ui-widget, .ui-widget .ui-widget 
{
    font-size: 94% !important;
    font-family: Geneva, Arial, Helvetica, sans-serif;
     
}

.search-result .ui-datalist-content.ui-widget-content{
    border: none;
    background: transparent;
    background-image: none;
}

.preformatted {
    white-space: pre-wrap;
    word-break: break-all;
    
}



.ui-fileupload{
    
    word-break:break-all; width: 100%;
}