@CHARSET "ISO-8859-1";



.ui-widget, .ui-widget .ui-widget 
{
    font-size: 90% !important; 
    font-family: Geneva, Arial, Helvetica, sans-serif;
     
}

.ui-growl {
    position: fixed;
    right: 10px;
    top: 80%;
}

.ui-toolbar{
    background: none;
    border: none;
}

.ui-overlaypanel.actions-overlay{
    width: 15vw;
    background-color: #4383a8;
          
}

.ui-commandlink.ui-widget.action-link{
    font-size: 14px !important;
    font-weight: bold;
    color: #ffffff;
}

.search-result .ui-datalist-content.ui-widget-content{
    border: none;
    background: transparent;
    background-image: none;
}

.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top{
    background: none;
}

.preformatted {
    white-space: pre-wrap;
    word-break: break-all;
    
}

.confirm-dialog-message{
    font-weight: bold;
    color: #427af4;
}

.ui-fileupload{
    
    word-break:break-all; width: 100%;
}

.ui-datalist.borderless {
    border-style: none;
}